{% extends 'base_generics.html' %}

{% block content %}
<div class="card border-primary mb-3" style="margin-bottom: 2rem !important;margin-top: 2rem !important;">
    <div class="card-header bg-primary text-white">Question Details</div>
    <div class="card-body">
        <h2 class="card-title">{{ question.question_text }}</h2>
        <p class="card-text">{{ question.answer_text }}</p>
        <div class="row">
            <div class="col-sm">
                <strong>Board:</strong> {{ question.board }}
            </div>
            <div class="col-sm">
                <strong>Class:</strong> {{ question.class_ref }}
            </div>
            <div class="col-sm">
                <strong>Subject:</strong> {{ question.subject }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <strong>Question Type:</strong> {{ question.question_type }}
            </div>
            <div class="col-sm">
                <strong>Difficulty Level:</strong> {{ question.difficulty_level }}
            </div>
            <div class="col-sm">
                <strong>Objective:</strong> {{ question.objective }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <strong>Marks:</strong> {{ question.marks }}
            </div>
            <div class="col-sm">
                <strong>Approximate Time:</strong> {{ question.approximate_time }} minutes
            </div>
            <div class="col-sm">
                <strong>Chapter:</strong> {{ question.chapter }} minutes
            </div>
        </div>
        {% if question.question_image %}
            <div class="mt-3">
                <h5>Question Image:</h5>
                <img class="img-fluid" src="{{ question.question_image.url }}" alt="Question Image">
            </div>
        {% endif %}
        {% if question.answer_image %}
            <div class="mt-3">
                <h5>Answer Image:</h5>
                <img class="img-fluid" src="{{ question.answer_image.url }}" alt="Answer Image">
            </div>
        {% endif %}
    </div>
    <div class="card-footer">
        <a href="{% url 'question_update' question.id %}" class="btn btn-primary">Edit Question</a>
    </div>
    
</div>
{% endblock %}
